* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  line-height: 1.3;
}

.bg-grey {
  background: #f7f7f7;
}

section .container {
  width: 1170px;
  margin: auto;
  padding: 30px 50px;
}

/* HEADER */
header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.597), rgba(0, 0, 0, 0.608)),
    url("../images/banner.jpg");
  background-size: cover;
}

/* BANNER  */
.text-banner {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #f7f7f7;
  font-size: 24px;
}

/* CSS NAVBAR THONG TIN CA NHAN */
h1 {
  display: block;
}

.navvv {
  flex-basis: 150px;
  text-transform: uppercase;
  padding-top: 24px;
  border-left: 0.1px solid #9e717127;
  border-right: 0.1px solid #9e717127;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nava3 {
  flex-basis: 320px;
  padding-top: 10px;
}

.img-avatar {
  transform: scale(7);
  border: 1px solid #e9ecef;
  border-radius: 50%;
}

.navbarrr {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 70px;
  border-bottom: 1px solid #9e717127;
}

/* CSS MUC TIEU NGHE NGHIEP */
#about {
  width: auto;
  margin-left: auto;
}

.container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
}

.target p {
  color: #7e7a86;

}

.target {
  margin-left: 135px;
  background: #f7f7f7;
  line-height: 2;
  font-size: 15px;
}

.person-info {
  list-style: none;
  margin-left: 50px;
}

#inputemail {
  background: #ddd8d8;

}

.personal-info {
  background: #ddd8d8;
  padding: 0px 50px;
  line-height: 2;
  font-size: 15px;
}

.target h1 {
  margin-bottom: 50px;
  font-size: 30px;
  margin-top: 50px;
}

.personal-info h1 {
  margin-bottom: 50px;
  font-size: 30px;
  margin-left: 80px;
  margin-top: 50px;
}

.icon {
  margin-left: 85px;
}

.icon-activity i,
.icon-education i,
.icon-experience i,
.icon-hobby i,
.icon-languages i,
.icon-skills i {
  color: #a8b1c8;
}



i {
  color: rgba(60, 182, 222, 0.938);
}

/* CSS  GRID 3 COLUMN 2 ROW */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 140px;
  margin-right: 140px;
  gap: 80px;
  /* height: auto; */
  margin-bottom: 50px;
  margin-top: 50px;

}

/* CSS KINH NGHIEM - HOAT DONG - HOC VAN */
h2 {
  padding: 30px 0px;
}

h3 {
  position: relative;
}

h3::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(32, 150, 209);
  position: absolute;
  top: 10px;
  left: -15px;
}

/*  CSS KINH NGHIEM LAM VIEC */
.experience {
  display: grid;
  grid-template-columns: 75% 25%;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  grid-template-rows: 20% 90%;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 0.1px solid #9e717127;
}

.experience-1 {
  margin-bottom: 50px;
}

.present {
  font-style: italic;
  background: rgb(32, 150, 209);
  border-radius: 10px;
  padding: 2px 15px;
  color: white;
}

.experience-content {
  grid-column: 1/3;
  grid-row: 2/3;
}

.experience-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-experience {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 50px;
}

/* CSS KỸ NĂNG */
.skills {
  display: grid;
  grid-template-columns: 75% 25%;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-rows: 20% 60%;
  border: 0.1px solid #9e717127;
}

.skills-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-skills {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 50px;
}

.skills-content {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: auto;

}

.skill-icon {
  margin-bottom: 2px;
}

.span-blue {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.span-grey {
  background: #dee2e6;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

/* CSS NGON NGU */
.language {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 60%;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 2/3;
  grid-row: 2/3;
  border: 0.1px solid #9e717127;
}

.language-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-languages {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 50px;
}

.language-content {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: auto;

}

/* CSS HOẠT ĐỘNG */
.activity {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 60%;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 2/3;
  grid-row: 1/2;

  border: 0.1px solid #9e717127;
}

.activity-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-activity {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 50px;
}

.activity-content {
  grid-column: 1/3;
  grid-row: 2/3;
}

.activity-1 {
  margin-bottom: 50px;

}

/*CSS HOC VAN  */
.education {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 60%;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 3/4;
  grid-row: 1/2;

  border: 0.1px solid #9e717127;
}

.education-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-education {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 50px;
}

.education-content {
  grid-column: 1/3;
  grid-row: 2/3;
}

.education-1 {
  margin-bottom: 50px;

}

/* CSS SO THICH  */
.hobby {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 60%;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 3/4;
  grid-row: 2/3;
  border: 0.1px solid #9e717127;
}

.hobby-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.icon-hobby {
  display: grid;
  grid-row: 1/2;

  grid-column: 2/3;
  font-size: 50px;
}

.hobby-content {
  margin-top: auto;
  grid-column: 1/3;
  grid-row: 2/3;
}

.iclike {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 44px 30px;
  row-gap: 10px;
  align-items: center;
}

.iclike i {
  font-size: 33px;
}

.iconlike1 {
  font-size: 16px;
  width: 70px;
  height: 70px;
  padding-top: 17px;
  padding-left: 11px;
  border: 2px solid #a5d8ff;
  border-radius: 50%;
}



.iconlike2 {
  font-size: 16px;
  width: 70px;
  height: 70px;
  padding-top: 17px;
  padding-left: 24px;
  border: 2px solid #a5d8ff;
  border-radius: 50%;
}

.iconlike3 {
  font-size: 16px;
  width: 70px;
  height: 70px;
  padding-top: 17px;
  padding-left: 22px;
  border: 2px solid #a5d8ff;
  border-radius: 50%;
}

.iconlike4 {
  font-size: 16px;
  width: 70px;
  height: 70px;
  padding-top: 17px;
  padding-left: 13px;
  border: 2px solid #a5d8ff;
  border-radius: 50%;
}

/* CSS CHỨNG CHỈ GIẢI THƯỞNG*/

.container-certificate {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.certificate-title {
  margin-left: 140px;
  font-size: 30px;
}

.certificate-content {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
}

.certificate {
  display: grid;
  grid-template-columns: 690px 1fr;
  grid-template-rows: 200px 1fr;
  margin-left: 140px;
}

.certificate-1 {
  display: grid;
  grid-template-columns: 220px 1fr;
  border-bottom: solid 1px #d6c08d;
}

.certificate-1::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #d6c08d;
  top: 100px;
  bottom: 0;
  left: 813px;
  height: 20%;
}

.certificate-2 {
  display: grid;
  grid-template-columns: 220px 1fr;
  border-bottom: solid 1px #d6c08d;
}

.certificate-2 div ul {
  margin: 20px 20px;
}

.certificate-3 {
  display: grid;
  grid-template-columns: 220px 1fr;
  margin: 50px 0;
}

.certi-item {
  list-style: none;
}

/* CSS DỰ ÁN  */
.icon-user-1 {
  color: black;
}

.icon-lamp {
  color: black;
}

.project-title {
  font-size: 30px;
  margin-left: 140px;
}

.project2021 {
  background: rgb(32, 150, 209);
  border-radius: 12px;
  padding: 2px 15px;
  color: white;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: auto; */
  margin-left: 140px;
  margin-bottom: 50px;
}

.project-table {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item-1 a {
  text-decoration: none;
  color: black;
}

.item-2 a {
  text-decoration: none;
  color: black;
}

.item-3 a {
  text-decoration: none;
  color: black;
}

table,
th,
td {
  border: solid 1px #f1eded;
  width: 450px;
  height: 60px;
  border-collapse: collapse;
}

/* CSS FOOTER */


.footer {
  text-align: center;
  padding: 30px;
  font-size: 25px;
  background: #f7f7f7;
  width: 100%;

}

.footer a {
  text-decoration: none;
  color: #9e9c98;
}

.personal-info .btn {
  padding: 3px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#inputemail .input {
  width: 450px;
}

#inputemail {
  margin-left: 80px;
}

/* regex email */
.hidden {
  display: none;
}

.ribbon {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #000;
  position: absolute;
  top: -20px;
  left: 18px;
}

.boxed {
  position: relative;
  top: -82px;
  /* left: 100px; */
}

.email-error {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 200px;
  border-radius: 20px;
}

/* View more view less */
.experience:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.skills:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.language:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.activity:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.education:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.hobby:hover {
  box-shadow: 0 -2px 5px 0 #ccc;
}

.show-jobinfo {
  position: absolute;
  background-color: #f6f6ba;
  padding: 9px 40px;
  border-radius: 24px;
  font-size: 12px;
  margin-bottom: 50px;
}

.show-jobinfo i {
  margin-right: 4px;
}

.show-jobinfo:hover {
  cursor: pointer;
}

.hide-jobinfo {
  position: absolute;
  background-color: #f6f6ba;
  padding: 4px 16px;
  border-radius: 24px;
  font-size: 12px;
}

.hide-jobinfo i {
  margin-right: 4px;
}

.hide-jobinfo:hover {
  cursor: pointer;
}

.experience-title {
  padding: 0 0 20px 20px;
}